-# coding: utf-8
- schedules.each do |schedule|
  - binder_id = "schedule-#{schedule.id}"
  != bind binder_id, url("/schedules/#{schedule.id}/!show") do
    != haml_partial :a_schedule, { schedule: schedule, is_conflicted: false }

